<!DOCTYPE html>
<html>
<%- include('../Partials/Header')%>
<body>
  <%- include('../Partials/Navbar')%>
  <%- include('../Partials/Sidebar')%>

	<div class="main-container">
		<div class="pd-ltr-20">
      				<!-- Form grid Start -->
				<div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">ຟອມປ້ອນຂໍ້ມູນຜັກ</h4>
						</div>
						<!-- <div class="pull-right">
							<a href="#form-grid-form" class="btn btn-primary btn-sm scroll-click" rel="content-y"  data-toggle="collapse" role="button"><i class="fa fa-code"></i> Source Code</a>
						</div> -->
					</div>
					<form action="/vegetable/add" method="POST" enctype="multipart/form-data">
						<div class="row">
							<div class="col-md-4 col-sm-12">
								<div class="form-group">
									<label>ລະຫັດຫຍໍ້</label>
									<input type="text" name="code" id="code" class="form-control" placeholder="e.g Svs-000" required>
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="form-group">
									<label>ຊື່ຜັກ</label>
									<input type="text" name="name" id="name" class="form-control" placeholder="e.g ຜັກຫອມປ່ອມ" required>
								</div>
							</div>
							<div class="col-md-4 col-sm-12">						
								<div class="form-group">
									<label>ປະເພດຜັກ</label>
										<select class="custom-select2 form-control" name="category" style="width: 100%; height: 35px;">
											<% categories.forEach(function(category){%>
												<option value="<%= category.id %>"><%= category.name %></option>
											<% }) %>
										</select>
								</div>
							</div>
						</div>
            <div class="row">
							<div class="col-md-12 col-sm-12">
								<div class="form-group">
									<label>ຂໍ້ມູນລາຍລະອຽດອື່ນໆ</label>
									<input type="text" name="desc" id="desc" class="form-control" placeholder="e.g ລາຍລະອຽດອື່ນໆ...">
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="form-group">
									<label>ລາຄາ</label>
									<input type="text" name="price" id="formattedNumberField" class="form-control" placeholder="e.g ລາຄາ 5000kip/kg...">
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="form-group">
									<label>ຫົວຫນ່ວຍ</label>
									<select class="custom-select2 form-control" name="unit" style="width: 100%; height: 35px;">
										<option value="ແພັກ">ແພັກ</option>
										<option value="ຖົງ">ຖົງ</option>
										<option value="ກັບ">ກັບ</option>
										<option value="ຂວດ/ແກ້ວ">ຂວດ/ແກ້ວ</option>
										<option value="ມັດ">ມັດ</option>
										<option value="ກ່ອງ">ກ່ອງ</option>
										<option value="kg">kg</option>
										<option value="1/2kg">1/2kg</option>
									</select>
								</div>
							</div>

							<div class="col-md-4 col-sm-12">
								<div class="form-group">
									<label>ສະຖານະ</label>
									<select class="custom-select2 form-control" name="status" style="width: 100%; height: 38px;">
											<option value="true">ເປີດໃຊ້ງານ</option>
											<option value="false">ປິດໃຊ້ງານ</option>
									</select>
								</div>
							</div>

							<div class="col-md-8 col-sm-12">
								<div class="form-group">
									<label>ເລືອກຮູບ</label>
									<input type="file" name="imagefile" id="formFile" class="form-control" accept="image/jpg, image/jpeg, image/png" required/>
								</div>
							</div>

							<div class="col-md-4 col-sm-12">
								<div class="form-group">
									<label>ແຫລ່ງທີມາ</label>
									<select class="custom-select2 form-control" name="supiler" style="width: 100%; height: 35px;">
										<option value="">Pavanh farm</option>
									</select>
								</div>
							</div>
							
						</div>
            <button type="submit" class="btn btn-outline-primary">ຈັດເກັບ</button>
						</div>
					</form>
					<div class="collapse collapse-box" id="form-grid-form" >
						<div class="code-box">
							<div class="clearfix">
							<a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left"  data-clipboard-target="#form-grid"><i class="fa fa-clipboard"></i> Copy Code</a>
						<a href="#form-grid-form" class="btn btn-primary btn-sm pull-right" rel="content-y"  data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
					</div>
					<pre><code class="xml copy-pre" id="form-grid">
      <%- include('../Partials/Footer')%>
		</div>
	</div>
  <%- include('../Partials/Script') %>
</body>
</html>