<!DOCTYPE html>
<html>
<%- include('../Partials/Header')%>
<body>
  <%- include('../Partials/Navbar')%>
  <%- include('../Partials/Sidebar')%>

	<div class="main-container">
		<div class="pd-ltr-20">
      				<!-- Form grid Start -->
				<div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">ຟອມສ້າງຂໍ້ມູນລາຍການຜັກ </h4>
						</div>
						<!-- <div class="pull-right">
							<a href="#form-grid-form" class="btn btn-primary btn-sm scroll-click" rel="content-y"  data-toggle="collapse" role="button"><i class="fa fa-code"></i> Source Code</a>
						</div> -->
					</div>
					<form action="/seller/add/sellervegetable" method="POST">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>ລະຫັດແມ່ຄ້າ</label>
									<input type="hidden" name="seller" id="seller" class="form-control" value="<%= id %>" required>
									<input type="text" class="form-control" value="<%= name %>" disabled required>
								</div>
							</div>
							<div class="col-md-6 col-sm-12">						
								<div class="form-group">
									<label>ເລືອກຜັກ ຫຼື ຜົນລະໄມ້</label>
										<select class="custom-select2 form-control" name="vegetable" style="width: 100%; height: 35px;">
											<% vegetables.forEach(function(vegetable){ %>
												<option value="<%= vegetable.id %>"><%= vegetable.name %></option>
											<% }) %>
										</select>
								</div>
							</div>
						</div>
            <div class="row">
							<div class="col-md-12 col-sm-12">
								<div class="form-group">
									<label>ກ່ຽວກັບ</label>
									<input type="text" name="desc" id="desc" class="form-control" placeholder="e.g ຜັກປອດສານເຄມີ...">
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>ຈຳນວນ/kg</label>
									<input type="number" name="qty" id="qty" class="form-control" placeholder="e.g 12 ">
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>ລາຄາ</label>
									<input type="number" name="price" id="price" class="form-control" placeholder="e.g 5000">
								</div>
							</div>
						</div>
            <button type="submit" class="btn btn-outline-primary">ຈັດເກັບ</button>
						</div>
					</form>
					<div class="collapse collapse-box" id="form-grid-form" >
						<div class="code-box">
							<div class="clearfix">
							<a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left"  data-clipboard-target="#form-grid"><i class="fa fa-clipboard"></i> Copy Code</a>
						<a href="#form-grid-form" class="btn btn-primary btn-sm pull-right" rel="content-y"  data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
					</div>
					<pre><code class="xml copy-pre" id="form-grid">
      <%- include('../Partials/Footer')%>
		</div>
	</div>
  <%- include('../Partials/Script') %>
</body>
</html>