<!DOCTYPE html>
<html>
<%- include('../Partials/Header')%>
<body>
  
  <%- include('../Partials/Sidebar')%>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-50px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>ແກ້ໄຂຂໍ້ມູນພະນັກງານ</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/seller">ຂໍ້ມູນພະນັກງານ</a></li>
									<li class="breadcrumb-item active" aria-current="page">ຟອມອັບເດດຂໍ້ມູນພະນັກງານ</li>
								</ol>
							</nav>
						</div>
						<div class="col-md-6 col-sm-12 text-right">
							<div class="dropdown">
								<a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
									<script>document.write(new Date().toLocaleDateString());</script>
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Export List</a>
									<a class="dropdown-item" href="#">Policies</a>
									<a class="dropdown-item" href="#">View Assets</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="pd-ltr-10">
								<!-- Form grid Start -->
					<div class="pd-20 card-box mb-30">
						<div class="clearfix">
							<div class="pull-left">
								<h4 class="text-blue h4">ຟອມອັບເດດຂໍ້ມູນແມ່ຄ້າ</h4>
							</div>
							<!-- <div class="pull-right">
								<a href="#form-grid-form" class="btn btn-primary btn-sm scroll-click" rel="content-y"  data-toggle="collapse" role="button"><i class="fa fa-code"></i> Source Code</a>
							</div> -->
						</div>
						<form action="/seller/edit/<%= id %>" method="POST">
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<div class="form-group">
										<label>ເລກທີພະນັກງານ</label>
										<input type="text" name="code" id="code" class="form-control" disabled value="<%= code %>"  required>
									</div>
								</div>
								<div class="col-md-4 col-sm-12">
									<div class="form-group">
										<label>ຊື່ພະນັກງານ</label>
										<input type="text" name="name" id="name" class="form-control" value="<%= name %>" placeholder="e.g ນາງ ກ, ຫຼື ທ້າວ ຂ..." required>
									</div>
								</div>
								<div class="col-md-4 col-sm-12">
									<div class="form-group">
										<label>ນາມສະກຸນ</label>
										<input type="text" name="surname" id="surname" class="form-control" value="<%= surname %>" placeholder="e.g ໃສ່ນາມສະກຸນ" required>
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<div class="form-group">
										<label>ເລກບັດປະຈຳຕົວ ຫຼື ສຳມະໂນຄົວ</label>
										<input type="text" name="identity" id="identity" class="form-control" value="<%= identity %>" placeholder="e.g ໃສ່ເລກບັດປະຈຳຕົວ ຫຼ ສຳມະໂນຄົວ" required>
									</div>
								</div>
								<div class="col-md-6 col-sm-12">						
									<div class="form-group">
										<label>ປະຈຳຢູ່ເຂດ</label>
											<select class="custom-select2 form-control" name="village" style="width: 100%; height: 35px;">
													<option value=""><%= village %></option>
													<% villages.forEach(function(vill) {%>
														<option value="<%= vill.id %>"><%= vill.market %></option>
													<% }) %>
											</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="form-group">
										<label>ທີຢູ່ປະຈຸບັນ</label>
										<input type="text" name="address" id="address" class="form-control" value="<%= address %>" placeholder="e.g ບ້ານ ດົງໂດກ, ເມື່ອງ ໄຊທ່ານີ, ແຂວງ ນະຄອນຫຼວງວຽງຈັນ...">
									</div>
								</div>
								<div class="col-md-3 col-sm-12">
									<div class="form-group">
										<label>ເບີໂທຕິດຕໍ່</label>
										<input type="text" name="contact" id="contact" class="form-control" value="<%= contact %>" placeholder="e.g 020-2345-6789">
									</div>
								</div>
								<div class="col-md-3 col-sm-12">
									<div class="form-group">
										<label>ເບີໂທຕິດຕໍ່ສຳຮອງ</label>
										<input type="text" name="phone" id="phone" class="form-control" value="<%= phone %>" placeholder="e.g 030 234-5678">
									</div>
								</div>
								<div class="col-md-3 col-sm-12">
									<div class="form-group">
										<label>ວັນເດືອນປີເຂົາຮ່ວມ</label>
										<input type="text" name="joinAt" id="joinAt" class="form-control" value="<%= joinAt.toLocaleDateString() %>" disabled placeholder="e.g ວັນ-ເດືອນ-ປີ" />
									</div>
								</div>

								<div class="col-md-3 col-sm-12">
									<div class="form-group">
										<label>ເລືອກຊື່ຜູ້ໃຊ້ງານ</label>
										<select class="custom-select2 form-control" disabled name="user" style="width: 100%; height: 35px;">
											<option value=""><%= user %></option>
									</select>
									</div>
								</div>

								<div class="col-md-9 col-sm-12">
									<div class="form-group">
										<label>ຮູບພະນັກງານ</label>
										<img src="data:image/<%= profile.contentType %>;base64, <%= profile.data.toString('base64')%>" width="80" height="80" alt="">
									</div>
								</div>
								<div class="col-md-3 col-sm-12">
									<div class="form-group">
										<label>Status</label>
										<select class="custom-select2 form-control" name="status" style="width: 100%; height: 35px;">
											<option value="active">Active</option>
											<option value="active">Inactive</option>
										</select>
									</div>
								</div>
							</div>
							<button type="submit" class="btn btn-outline-primary">ອັບເດດຂໍ້ມູນ</button>
							</div>
						</form>
						<div class="collapse collapse-box" id="form-grid-form" >
							<div class="code-box">
								<div class="clearfix">
								<a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left"  data-clipboard-target="#form-grid"><i class="fa fa-clipboard"></i> Copy Code</a>
							<a href="#form-grid-form" class="btn btn-primary btn-sm pull-right" rel="content-y"  data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
						</div>
					<pre><code class="xml copy-pre" id="form-grid">

      <%- include('../Partials/Footer')%>
		</div>
	</div>
  <%- include('../Partials/Script') %>
</body>
</html>