
<!DOCTYPE html>
<html>
<%- include('../Partials/Header')%>
<body>
  <%- include('../Partials/Navbar')%>
  <%- include('../Partials/Sidebar')%>
	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<!-- multiple select row Datatable start -->
        <div class="card-box mb-30">    
          <div class="clearfix">
            <div class="pull-left">
              <h2 class="h4 pd-20">ລາຍການຂໍ້ມູນຜັກຂອງ <%= name %></h2>
            </div>
              <input type="submit" hidden name="userId" value="<%= userId %>">
            <div class="pull-right">
              <a href="/seller/addsellervegetable/<%= id %>" class="btn btn-outline-primary btn-sm scroll-click" >ເພີ່ມຂໍ້ມູນຜັກໃຫ້ແມ່ຄ້າ</a>
            </div>
          </div> 
          <table class="checkbox-datatable table nowrap">
            <thead>
              <tr>
                <th><div class="dt-checkbox">
                      <input type="checkbox" name="select_all" value="1" id="example-select-all">
                      <span class="dt-checkbox-label"></span>
                    </div>
                </th>
                <th>ວັນເດືອນປີ</th>
                <th>ຊື່ຜັກ</th>
                <th>ຈຳນວນທີມີ</th>
                <th>ຫົວຫນ່ວຍ</th>
                <th>ລາຄາຂ່າຍ</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% products.forEach(function(product){%>
                <tr>
                  <td></td>
                  <td class="table-plus"><%= product.createdAt.toLocaleDateString() %></td>
                  <td><%= product.vegetable.name %></td>
                  <td><%= product.qty %></td>
                  <td><%= product.unit %></td>
                  <td><%= product.price %> k</td>
                  <td>
                    <div class="dropdown">
                      <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        <i class="dw dw-more"></i>
                      </a>
                          <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                            <a class="dropdown-item" href="/seller/vegetable/edit/<%= product.id %>"><i class="dw dw-edit2"></i> ແກ້ໄຂ</a>
                            <a class="dropdown-item" href="/seller/vegetable/delete/<%= product.id %>" id="sa-params"><i class="dw dw-delete-3"></i> ລົບ</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
				<!-- multiple select row Datatable End -->
			</div>
      <%- include('../Partials/Footer')%>
		</div>
	</div>
  <%- include('../Partials/Script')%>
	</body>
</html>