<!DOCTYPE html>
<html>
  <%- include('../Partials/Header')%>
  <body>
    <%- include('../Partials/Navbar')%> <%- include('../Partials/sellerSide')%>

    <div class="main-container">
      <div class="pd-ltr-20">
        <% if(typeof saledatas !== "undefined") { %>
        <!-- Export Datatable start -->
        <div class="card-box mb-30">
          <div class="pd-20">
            <h4 class="text-blue h4">
              ຂໍ້ມູນຍອດຂ່າຍທັງຫມົດປະຈຳວັນທີ <%= saledate.toLocaleDateString() %>
            </h4>
          </div>
          <div class="pb-20">
            <table class="table hover multiple-select-row data-table-export nowrap">
              <thead>
                <tr>
                  <th class="table-plus datatable-nosort">Username</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th>Paid</th>
                  <th>Return</th>
									<th>Paid With</th>
                </tr>
              </thead>
              <tbody>
								<% var sum = 0; %>
								<% saledatas.forEach(function(sale) { %>
									<% var subtt = parseFloat(sale.totalPrice).toFixed(2) %>
									<% sum += +subtt %>
									<tr>
										<td class="table-plus"><%= seller %></td>
										<td><%= sale.qty %><%= sale.items.unit %></td>
										<td><%= parseFloat(sale.totalPrice).toFixed(2) %> kip</td>
										<td><%= parseFloat(sale.totalPaid).toFixed(2) %> kip</td>
										<td><%= parseFloat(sale.cashback).toFixed(2) %> kip</td>
										<td><%= sale.paidWith %></td>
									</tr>
								<% }); %>
									<tr>
										<td><h3><b>ລວມທັງຫມົດ: </b></h3></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td colspan="4">
											<h3>
												<b>
													<%= parseFloat(sum).toFixed(2) %>
												</b>
											</h3>
											 kip</td>
									</tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Export Datatable End -->
        <% } else { %>
        <!-- Export Datatable start -->
        <div class="card-box mb-30">
          <div class="pd-20">
            <h4 class="text-blue h4">
              ຂໍ້ມູນຍອດຂ່າຍທັງຫມົດປະຈຳວັນທີ <%= saledate.toLocaleDateString() %>
            </h4>
          </div>
          <div class="pb-20">
            <table
              class="table hover multiple-select-row data-table-export nowrap"
            >
              <thead>
                <tr>
                  <th class="table-plus datatable-nosort">Username</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th>Paid</th>
                  <th>Return</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                 <h3>Empty Sale Data...!</h3>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Export Datatable End -->
        <% }%> <%- include('../Partials/Footer')%>
      </div>
    </div>
    <%- include('../Partials/Script') %>
  </body>
</html>
