<!DOCTYPE html>
<html lang="zxx">
  <%- include('./Partials/iHeader')%>
  <body>
    <%- include('./Partials/iNavbar')%>
    <!-- Hero Section Begin -->
    <section class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="hero__categories">
              <div class="hero__categories__all">
                <i class="fa fa-bars"></i>
                <span>ປະເພດຜັກທັງຫມົດ</span>
              </div>
              <ul>
                <% categories.forEach(function(category) { %>
                  <li><a href="/category/<%= category.id%>"><%= category.name %></a></li>
                <% }) %>
              </ul>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="hero__search">
              <div class="hero__search__form">
                <form action="#">
                  <div class="hero__search__categories">
                    ປະເພດຜັກທັງຫມົດ
                    <span class="arrow_carrot-down"></span>
                  </div>
                  <input type="text" placeholder="What do yo u need?" />
                  <button type="submit" class="site-btn">ຄົ້ນຫາ</button>
                </form>
              </div>
              <div class="hero__search__phone">
                <div class="hero__search__phone__icon">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="hero__search__phone__text">
                  <h5>+856-205-888-1357</h5>
                  <span>support 24/7 time</span>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Hero Section End -->
    
    <section class="blog-details spad">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-5 order-md-1 order-2">

              </div>
              <div class="col-lg-8 col-md-7 order-md-1 order-1">
                  <div class="blog__details__text">
                    <div class="row">
                      <div class="col-md-6 col-6">
                        <img src="data:image/<%= vegetable.image.contentType%>;base64, <%= vegetable.image.data.toString('base64')%>" alt="">
                      </div>
                      <div class="col-md-6 col-6">
                        <p><%= vegetable.desc %></p>
                      </div>
                    </div>
                  </div>
                  <div class="blog__details__content">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="blog__details__author">
                                      <img src=<%= src %> alt="">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="blog__details__widget">
                                  <ul>
                                      <li><span>ຊື່ຜັກ ຫລື ຫມາກໄມ: </span> <%= vegetable.name %></li>
                                      <li><span>ລາຄາ: </span> <%= vegetable.price %> kip</li>
                                  </ul>
                                  <div class="blog__details__social">
                                      <a href="#"><i class="fa fa-facebook"></i></a>
                                      <a href="#"><i class="fa fa-twitter"></i></a>
                                      <a href="#"><i class="fa fa-google-plus"></i></a>
                                      <a href="#"><i class="fa fa-linkedin"></i></a>
                                      <a href="#"><i class="fa fa-envelope"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

    
    <!-- Categories Section Begin -->
    <section class="categories">
      <div class="container">
        <div class="row">
          <div class="categories__slider owl-carousel">
            <div class="col-lg-3">
              <div
                class="categories__item set-bg"
                data-setbg="/front/img/categories/cat-1.jpg"
              >
                <h5><a href="#">Fresh Fruit</a></h5>
              </div>
            </div>
            <div class="col-lg-3">
              <div
                class="categories__item set-bg"
                data-setbg="/front/img/categories/cat-2.jpg"
              >
                <h5><a href="#">Dried Fruit</a></h5>
              </div>
            </div>
            <div class="col-lg-3">
              <div
                class="categories__item set-bg"
                data-setbg="/front/img/categories/cat-3.jpg"
              >
                <h5><a href="#">Vegetables</a></h5>
              </div>
            </div>
            <div class="col-lg-3">
              <div
                class="categories__item set-bg"
                data-setbg="/front/img/categories/cat-4.jpg"
              >
                <h5><a href="#">drink fruits</a></h5>
              </div>
            </div>
            <div class="col-lg-3">
              <div
                class="categories__item set-bg"
                data-setbg="/front/img/categories/cat-5.jpg"
              >
                <h5><a href="#">drink fruits</a></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Categories Section End -->

    
    

    <%- include('./Partials/iFooter')%>

    <%- include('./Partials/iScript')%>


    
  </body>
</html>
