<!DOCTYPE html>
<html>
<%- include('../Partials/Header')%>
<body>
  <%- include('../Partials/Navbar')%>
  <%- include('../Partials/Sidebar')%>

	<div class="main-container">
		<div class="pd-ltr-20">
      				<!-- Form grid Start -->
				<div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">ຟອມປ້ອນຂໍ້ມູນສຳລັບສ້າງບັນຊີໃຫມ່</h4>
						</div>
						<div class="pull-right">
							<a href="/user" class="btn btn-outline-primary btn-sm scroll-click">ກັບຄືນ</a>
						</div>
					</div>
					<form action="/user/register" method="POST">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>ຊື່ຜູ້ໃຊ້*</label>
									<input type="text" name="username" id="username" class="form-control" placeholder="Username" required>
								</div>
							</div>
              <div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>ອີເມວຜູ້ໃຊ້*</label>
									<input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>ລະຫັດຜ່ານ*</label>
									<input type="password" name="password" id="password" class="form-control" placeholder="***************" required>
								</div>
							</div>
              <div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>ຢື່ນຢັນລະຫັດຜ່ານ*</label>
									<input type="password" name="repassword" id="repassword" class="form-control" placeholder="***************" required>
								</div>
							</div>
						</div>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
						</div>
					</form>
          <div class="collapse collapse-box" id="form-grid-form" >
						<div class="code-box">
							<div class="clearfix">
								<a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left"  data-clipboard-target="#form-grid"><i class="fa fa-clipboard"></i> Copy Code</a>
								<a href="#form-grid-form" class="btn btn-primary btn-sm pull-right" rel="content-y"  data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
							</div>
							<pre>
								<code class="xml copy-pre" id="form-grid">
								</code>
							</pre>
						</div>
					</div>
      <%- include('../Partials/Footer')%>
		</div>
	</div>
  <%- include('../Partials/Script') %>
</body>
</html>