<!DOCTYPE html>
<html>
<%- include('../Partials/Header')%>
<body>
  <%- include('../Partials/Navbar')%>
  <%- include('../Partials/Sidebar')%>

	<div class="main-container">
		<div class="pd-ltr-20">
			<div class="card-box mb-30">
				<h2 class="h4 pd-20">ຂໍ້ມູນຍອດຂ່າຍທັງຫມົດ</h2>
				<% if(typeof sales !== "undefined") { %>
					<table class="table hover multiple-select-row data-table-export nowrap">
						<thead>
							<tr>
								<th>Date</th>
								<th>Total Quantity</th>
								<th>Amount</th>
								<th class="datatable-nosort">Action</th>
							</tr>
						</thead>
						<tbody>
							<% var total = 0; %>
							<% sales.forEach(function(sale) { %>
								<% total += +sale.amount %>
								<tr>
									<td><%= sale.createdAt.toLocaleDateString() %></td>
									<td><%= sale.qty %></td>
									<td><%= parseFloat(sale.amount.toLocaleString('la-LA')).toFixed(3) %> kip</td>
									<td>
										<div class="dropdown">
											<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
												<i class="dw dw-more"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
												<a class="dropdown-item" href="/sales/report/invoice/<%= sale.id %>"><i class="dw dw-eye"></i>Invoice View</a>
											</div>
										</div>
									</td>
								</tr>		
								<% }) %>
								<tr>
									<td>Total Amount:</td>
									<td></td>
									<td>
										<h2><%= parseFloat(total.toLocaleString('la-LA')).toFixed(3) %></h2><span>kip</span>
									</td>
									<td></td>
								</tr>	
						</tbody>
					</table>
					<% } else { %>
						<table class="table hover multiple-select-row data-table-export nowrap">
							<thead>
								<tr>
									<th>ວັນເດືອນປີ</th>
									<th>ຜັກທີຂ່າຍແລ້ວ</th>
									<th>ຈຳນວນຂ່າຍແລ້ວ</th>
									<th>ຄິດເປັນເງີນ</th>
									<th class="datatable-nosort">Action</th>
								</tr>
							</thead>
							<tbody>
									<tr>
										<td></td>
										<td>ຂໍ້ມູນຫວ່າງ</td>
										<td></td>
										<td></td>
										<td>
											<div class="dropdown">
												<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
													<i class="dw dw-more"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
													<a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
													<a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
													<a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
												</div>
											</div>
										</td>
									</tr>			
							</tbody>
						</table>
					<% } %>
			</div>
      <%- include('../Partials/Footer')%>
		</div>
	</div>
  <%- include('../Partials/Script') %>
</body>
</html>